workflows/agentic_fhir_ews_workflow.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "operation": "insert",
        "collection": "patient-vital-signs",
        "fields": "resourceType, type, entry",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        448,
        -48
      ],
      "id": "11782bd6-d157-4c35-8735-44217193b295",
      "name": "Insert documents",
      "credentials": {
        "mongoDb": {
          "id": "FLmTBcibbLYMHojV",
          "name": "MongoDB account 5"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=SYSTEM INSTRUCTION\nAsisten Medis AI - Early Warning System (EWS).\n\nPROSEDUR UTAMA\n1. Identifikasi Pasien: Ambil Patient ID dari data input.\n2. MongoDB Find: Ambil Profil Riwayat Medis dari koleksi profil pasien.\n3. MongoDB1: Ambil Riwayat Tanda Vital (Indeks 0: Terbaru, Indeks 1: Sebelumnya, Indeks 2: Awal Hari).\n4. MongoDB Vector Atlas Store: Ambil Knowledge Base referensi standar medis.\n\nANALISIS TREN & SIKLUS HARIAN\nWajib bandingkan angka Indeks 0, 1, dan 2 secara eksplisit untuk melihat tren sirkadian (pagi/siang/malam). Sebutkan perubahan angka secara detail. Jika angka stabil, berikan ulasan klinis mengapa kondisi tersebut tetap berisiko atau aman berdasarkan riwayat penyakit pasien. Dilarang hanya menuliskan keterangan dalam batas normal secara singkat.\n\nPENALARAN KLINIS\n- STABIL: Angka Indeks 0 abnormal secara umum, tapi stabil/membaik dibanding Indeks 1 & 2 serta sesuai Riwayat Medis.\n- RISIKO RENDAH: Fluktuasi ringan akibat variasi sirkadian atau konsekuensi logis penyakit kronis.\n- RISIKO TINGGI: Perubahan drastis (tren memburuk) atau fluktuasi yang membahayakan nyawa berdasarkan riwayat medis.\n\nKONTROL FORMAT KETAT\nDilarang menggunakan format Markdown seperti bold, italic, atau heading.\nDilarang menggunakan karakter asteris (*), underscore (_), atau hash (#).\nOutput wajib berupa teks polos (plain text).\nJangan berikan kalimat pembukaan atau penutup.\nWajib menggunakan Bahasa Indonesia sepenuhnya.\n\nDATA INPUT\nPatient ID: {{ $json.patient_id }}\nHR: {{ $json.hr }} bpm\nBP: {{ $json.sbp }}/{{ $json.dbp }} mmHg\nSpO2: {{ $json.spo2 }}%\nTemp: {{ $json.temp }} C\nRR: {{ $json.rr }} breaths/min\n\nFORMAT OUTPUT\nLAPORAN VITAL SIGNS\nID PASIEN: {{ $json.patient_id }}\nRIWAYAT MEDIS: [isi ringkasan riwayat penyakit dari mongodb profil]\n\nDETAK JANTUNG HR: {{ $json.hr }} bpm\nStatus: [Normal/Abnormal]\nAnalisis: [perbandingan angka Indeks 2 ke 1 lalu ke 0 serta ulasan tren medis berdasarkan riwayat pasien]\n\nTEKANAN DARAH BP: {{ $json.sbp }}/{{ $json.dbp }} mmHg\nStatus: [Normal/Abnormal]\nAnalisis: [perbandingan angka Indeks 2 ke 1 lalu ke 0 serta ulasan tren medis berdasarkan riwayat pasien]\n\nSATURASI OKSIGEN SpO2: {{ $json.spo2 }}%\nStatus: [Normal/Abnormal]\nAnalisis: [perbandingan angka Indeks 2 ke 1 lalu ke 0 serta ulasan tren medis berdasarkan riwayat pasien]\n\nSUHU TUBUH TEMP: {{ $json.temp }} C\nStatus: [Normal/Abnormal]\nAnalisis: [perbandingan angka Indeks 2 ke 1 lalu ke 0 serta ulasan tren medis berdasarkan riwayat pasien]\n\nRESPIRATORY RATE RR: {{ $json.rr }} breaths/min\nStatus: [Normal/Abnormal]\nAnalisis: [perbandingan angka Indeks 2 ke 1 lalu ke 0 serta ulasan tren medis berdasarkan riwayat pasien]\n\nKESIMPULAN UMUM\nStatus: [STABIL / RISIKO RENDAH / RISIKO TINGGI]\nCatatan: [ringkasan tren kondisi pasien sepanjang hari ini dan instruksi medis hasil penalaran mandiri berdasarkan riwayat medis kronis]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        656,
        112
      ],
      "id": "2970cf48-e789-42f4-91c3-b99d219d73bc",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this knowledge base to help analyze the patient vital sign and find the abnormalities.",
        "mongoCollection": {
          "__rl": true,
          "value": "data",
          "mode": "list",
          "cachedResultName": "data"
        },
        "vectorIndexName": "database_vector_index",
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        720,
        336
      ],
      "id": "72198f3d-51f7-40b4-9450-f6ec5c824684",
      "name": "MongoDB Atlas Vector Store",
      "credentials": {
        "mongoDb": {
          "id": "atYRP2xF16plcZYy",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        480
      ],
      "id": "b23b3753-51cf-4b23-be21-c21b41f55c51",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "g9sdw1t3m3JZ30kT",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1tOsH555l5fXN6Vb4L4eGSHG0heewm0Qr",
          "mode": "list",
          "cachedResultName": "dataabnormal25.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1tOsH555l5fXN6Vb4L4eGSHG0heewm0Qr/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        320
      ],
      "id": "8b2a2670-2018-49c3-a5f7-53cb8babb8d5",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RmLkFIUzerAwi9lP",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "mongoCollection": {
          "__rl": true,
          "value": "data",
          "mode": "list",
          "cachedResultName": "data"
        },
        "vectorIndexName": "database_vector_index",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        192,
        320
      ],
      "id": "f9a8899c-1a34-4618-a53a-0ab9e2507466",
      "name": "MongoDB Atlas Vector Store1",
      "credentials": {
        "mongoDb": {
          "id": "atYRP2xF16plcZYy",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        496
      ],
      "id": "ccb5c8fe-15e4-4608-b3e6-e37acd8c34f3",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "t32mCDksLDwlAnFb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        496
      ],
      "id": "8369fc9e-635b-491c-9b48-fbd900c6b69a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        576,
        320
      ],
      "id": "f2f467b0-7b3b-4d29-8deb-3a9b62872fc9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "1hlSxKEdT4pyZzkl",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mengambil data dari input node sebelumnya (Bundle FHIR)\nconst bundle = items[0].json; \n\nreturn [\n  {\n    json: {\n      patient_id: bundle.patientId,\n      hr: bundle.entry[0].resource.valueQuantity.value,\n      sbp: bundle.entry[1].resource.component[0].valueQuantity.value,\n      dbp: bundle.entry[1].resource.component[1].valueQuantity.value,\n      spo2: bundle.entry[2].resource.valueQuantity.value,\n      temp: bundle.entry[3].resource.valueQuantity.value,\n      rr: bundle.entry[4].resource.valueQuantity.value\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        112
      ],
      "id": "793566a1-ae0c-4341-a029-0cf087eeb276",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1cZ7rr3iM0oYigWXsq5OGxQzs8EOr3zxL4A_UCzvklY8/edit?usp=sharing",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.formatted_output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1152,
        112
      ],
      "id": "f44f34a4-eb27-4ccf-9e89-675f775409c7",
      "name": "Update a document",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3iZ9NvGfxPs9g3zr",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let rawText = $input.first().json.output;\n\nrawText = rawText.replace(/(\\d+\\.\\d{2})\\d+/g, '$1');\n\nconst cleanedText = rawText.split('\\\\n').join('\\n');\n\nreturn {\n  formatted_output: cleanedText\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        112
      ],
      "id": "3c4ea2b1-5444-45b3-8359-73436793adb2",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1cZ7rr3iM0oYigWXsq5OGxQzs8EOr3zxL4A_UCzvklY8/edit?usp=sharing",
        "actionsUi": {
          "actionFields": [
            {
              "object": "pageBreak",
              "action": "insert"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1344,
        112
      ],
      "id": "486543d4-d633-47ac-bae4-05cc3814b7d9",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3iZ9NvGfxPs9g3zr",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "patient-profiles",
        "fields": "patient_id, medical_history",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        512,
        672
      ],
      "id": "96778c7b-41fb-4735-9406-2600609164cd",
      "name": "Insert documents1",
      "credentials": {
        "mongoDb": {
          "id": "f08IH9LJUErYB2Sw",
          "name": "MongoDB account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  patient_id: $json['Patient ID'],\n  medical_history: $json['Riwayat Medis '],\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        672
      ],
      "id": "4cf77299-9b8a-4497-89d8-6d20405fc5c8",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "collection": "patient-profiles",
        "options": {},
        "query": "={\n  \"patient_id\": \"{{ $json.patient_id }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.2,
      "position": [
        1184,
        320
      ],
      "id": "b9b48670-155b-4191-8ff9-215ad3b51683",
      "name": "Find documents in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "FLmTBcibbLYMHojV",
          "name": "MongoDB account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1PGMaL6Gd15xCrtVr7WGC6kq7c3Nv5u0P",
          "mode": "list",
          "cachedResultName": "riwayatpasien.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1PGMaL6Gd15xCrtVr7WGC6kq7c3Nv5u0P/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        672
      ],
      "id": "4f2610a0-cfbf-4e12-97e9-98bb0ace4cff",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RmLkFIUzerAwi9lP",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        160,
        672
      ],
      "id": "4e5b7a70-c174-4c60-b020-e35cfd60cb98",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "collection": "patient-vital-signs",
        "options": {
          "limit": 3,
          "sort": "{ \"capturedAt\": -1 }"
        },
        "query": "={\n  \"entry.resource.subject.reference\": \"Patient/{{ $json.patient_id }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.2,
      "position": [
        1024,
        320
      ],
      "id": "0bcb4113-1a97-4bae-a223-203a9672b6d9",
      "name": "Find documents in MongoDB1",
      "credentials": {
        "mongoDb": {
          "id": "FLmTBcibbLYMHojV",
          "name": "MongoDB account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // Membersihkan semua kunci/key dari spasi tambahan atau karakter aneh\n  const row = {};\n  for (let key in item.json) {\n    row[key.trim()] = item.json[key];\n  }\n\n  // Sekarang memanggil \"Patient ID\" akan jauh lebih aman\n  const rawPatientId = $input.first().json.body['Patient ID'];\n  const patientRef = \"Patient/\" + rawPatientId;\n\n  // Helper function untuk membersihkan data angka\n  const cleanFloat = (val) => {\n    if (val === undefined || val === null || val === '') return 0;\n    if (typeof val === 'string') {\n      const cleaned = val.replace(/[^0-9.-]/g, '');\n      return parseFloat(cleaned) || 0;\n    }\n    return parseFloat(val) || 0;\n  };\n\n  const timestamp = row[\"Timestamp\"] ? row[\"Timestamp\"].replace(\" \", \"T\") : new Date().toISOString();\n\n  return {\n    json: {\n      patientId: rawPatientId, \n      capturedAt: timestamp,\n      resourceType: \"Bundle\",\n      type: \"collection\",\n      entry: [\n        {\n          resource: {\n            resourceType: \"Observation\",\n            status: \"final\",\n            category: [{ coding: [{ system: \"http://terminology.hl7.org/CodeSystem/observation-category\", code: \"vital-signs\", display: \"Vital Signs\" }] }],\n            code: { coding: [{ system: \"http://loinc.org\", code: \"8867-4\", display: \"Heart rate\" }] },\n            subject: { reference: patientRef },\n            effectiveDateTime: timestamp,\n            valueQuantity: { value: cleanFloat($input.first().json.body['Heart Rate']), unit: \"bpm\", system: \"http://unitsofmeasure.org\", code: \"/min\" }\n          }\n        },\n        {\n          resource: {\n            resourceType: \"Observation\",\n            status: \"final\",\n            category: [{ coding: [{ system: \"http://terminology.hl7.org/CodeSystem/observation-category\", code: \"vital-signs\" }] }],\n            code: { coding: [{ system: \"http://loinc.org\", code: \"85354-9\", display: \"Blood pressure panel\" }] },\n            subject: { reference: patientRef },\n            effectiveDateTime: timestamp,\n            component: [\n              {\n                code: { coding: [{ system: \"http://loinc.org\", code: \"8480-6\", display: \"Systolic blood pressure\" }] },\n                valueQuantity: { value: cleanFloat($input.first().json.body['Systolic Blood Pressure']), unit: \"mmHg\", system: \"http://unitsofmeasure.org\", code: \"mm[Hg]\" }\n              },\n              {\n                code: { coding: [{ system: \"http://loinc.org\", code: \"8462-4\", display: \"Diastolic blood pressure\" }] },\n                valueQuantity: { value: cleanFloat($input.first().json.body['Diastolic Blood Pressure']), unit: \"mmHg\", system: \"http://unitsofmeasure.org\", code: \"mm[Hg]\" }\n              }\n            ]\n          }\n        },\n        {\n          resource: {\n            resourceType: \"Observation\",\n            status: \"final\",\n            category: [{ coding: [{ system: \"http://terminology.hl7.org/CodeSystem/observation-category\", code: \"vital-signs\" }] }],\n            code: { coding: [{ system: \"http://loinc.org\", code: \"2708-6\", display: \"Oxygen saturation\" }] },\n            subject: { reference: patientRef },\n            effectiveDateTime: timestamp,\n            valueQuantity: { value: cleanFloat($input.first().json.body['Oxygen Saturation']), unit: \"%\", system: \"http://unitsofmeasure.org\", code: \"%\" }\n          }\n        },\n        {\n          resource: {\n            resourceType: \"Observation\",\n            status: \"final\",\n            category: [{ coding: [{ system: \"http://terminology.hl7.org/CodeSystem/observation-category\", code: \"vital-signs\" }] }],\n            code: { coding: [{ system: \"http://loinc.org\", code: \"8310-5\", display: \"Body temperature\" }] },\n            subject: { reference: patientRef },\n            effectiveDateTime: timestamp,\n            valueQuantity: { value: cleanFloat($input.first().json.body['Body Temperature']), unit: \"C\", system: \"http://unitsofmeasure.org\", code: \"Cel\" }\n          }\n        },\n        {\n          resource: {\n            resourceType: \"Observation\",\n            status: \"final\",\n            category: [{ coding: [{ system: \"http://terminology.hl7.org/CodeSystem/observation-category\", code: \"vital-signs\" }] }],\n            code: { coding: [{ system: \"http://loinc.org\", code: \"9279-1\", display: \"Respiratory rate\" }] },\n            subject: { reference: patientRef },\n            effectiveDateTime: timestamp,\n            valueQuantity: { value: cleanFloat($input.first().json.body['Respiratory Rate']), unit: \"breaths/min\", system: \"http://unitsofmeasure.org\", code: \"/min\" }\n          }\n        }\n      ]\n    }\n  };\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        112
      ],
      "id": "b60c995a-d599-4327-b803-49efc39482ac",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vital-signs",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        112
      ],
      "id": "a1316f18-9618-4e79-af74-964c90f2d584",
      "name": "Webhook",
      "webhookId": "b6204c5d-5404-46aa-af03-ed81933e90f8"
    }
  ],
  "pinData": {},
  "connections": {
    "Insert documents": {
      "main": [
        []
      ]
    },
    "MongoDB Atlas Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "MongoDB Atlas Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "MongoDB Atlas Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        []
      ]
    },
    "Insert documents1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Insert documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents in MongoDB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents in MongoDB1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Insert documents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2068e07f-7043-44b0-9ca1-661afef9f627",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d871bd584d7f0f1190df86d3c93e1a53d6e368fb0dda25509f7831faebc3e77e"
  },
  "id": "asHf9kRCpPKA1bMruL45s",
  "tags": []
}